---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - everest.example.com
  resources:
  - clusters/finalizers
  verbs:
  - update
- apiGroups:
  - everest.example.com
  resources:
  - clusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - everest.example.com
  - postgresql.cnpg.io
  resources:
  - clusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ops.example.com
  resources:
  - opsrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ops.example.com
  resources:
  - opsrequests/finalizers
  verbs:
  - update
- apiGroups:
  - ops.example.com
  resources:
  - opsrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - postgresql.cnpg.io
  resources:
  - clusters/status
  verbs:
  - get
